// ---------------------------------------------------- HTML ---------------------------------------------------------------- 
//
// <ul class="breadcrumb">
//   <li><a href="#">Главная</a></li>
//   <li><a href="#">Картины</a></li>
//   <li><a href="#">Лето 1987</a></li>
//   <li>Италия</li>
// </ul>
//
// ---------------------------------------------------- SCSS ---------------------------------------------------------------

/* Стиль списка */
ul.breadcrumb {
    padding: 1rem 0;
    list-style: none;
    background-color: var(--color-post-bg);
    /* Отображение элементов списка бок о бок */
    li {
        display: inline;
        font-size: 1rem;
        /* Добавить символ косой черты (/) перед/за каждым элементом списка */
        &:not(:first-child)::before {
            padding: 0.5rem;
            color: var(--color-main);
            content: "/\00a0";
          }
           &.hovered {
             background-color: red;
              }
        /* Добавить цвет для всех ссылок внутри списка */
        a {
            color: var(--color-link);
            text-decoration: none;
            /* Добавить цвет на наведении курсора мыши */
            // &:hover {
            //     color: var(--color-link-hover);
            //     // text-decoration: underline;
            //   }
          }
      }      
     
  }
  